@import "../../../Styles/Stylus/_Global";
.Card
  background-image url('../../images/bg-boost-desktop.svg')
  background-repeat no-repeat
  background-size cover
  background-color DarkViolet
  color white
  text-align center
  padding 90px
  & h1
    font-weight weightBolder
    margin-top 0
    font-size 2.5em
  & button 
    padding 1em 2em
    border-radius 30px
    

