@import "../../../Styles/Stylus/_Global";

.container-fluid
    background-color DarkViolet 
    padding-top 11em
    padding-bottom  11em
    display flex
    justify-content center
    .form__container  
        position relative
        box-shadow 2px 2px 30px 25px rgba(0,0,0,0.4);        
        display flex
        border-radius 20px
        padding 0
        width 1000px
        background-color Cyan
        overflow hidden
        #alert 
            color red
            font-weight WeightBolder
            display none
        form
            background-color SoftGray
            display flex
            flex-direction column
            padding 40px
            width 600px
            input 
                border none
                box-shadow 1px 1px 20px 6px rgba(0,0,0,0.3);
                border-radius 10px
                height 1.5em
                padding 0 0.5em
            label
                margin-bottom 0
                margin-top 10px
                font-weight WeightLighter
            button 
                border-radius 10px
                margin-top 30px      
    .text__container 
        width 400px
        color white
        text-align center
        align-self center
        h1
            font-weight WeightBolder

