@import "./_Global";
body
  font-family Family
  font-size Fontsize 
.button
  color white
  font-weight WeightBolder
  border none
  background-color Cyan  
  margin-left 0
  padding 0.5em 1em
  .button:active
    background-color CyanLight
.button-alert
  background-color red
  border none
  color white
  margin-left 0
  padding 0.5em 1em
@import "./Normalize.css";